@import "../../../styles/theme.scss";
.createTask {
}
.createTask__window {
  position: fixed;
  background: $secondary2;
  bottom: 50px;
  right: 30px;
  width: 360px;
  min-height: 400px;
  padding: 20px;
  padding-bottom: 80px;
  /*   background-image: url(../../../img/binding-light.png);
  background-image: url(../../../img/45-degree-fabric-light.png);
   background-image: url(../../../img/binding-light.png);
  background-image: url(../../../img/az-subtle.png); */

  .MuiFormControl-root {
    width: 100%;
  }
}

.createTask__taskName {
  display: flex;
  input {
    padding: 0 10px;
    margin: 0 10px;
  }
}
.createTask__status {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  min-width: 80px;
  border-radius: 4px;
  box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s ease all;
  &:hover {
    box-shadow: inset 0px -6px 0 0 rgba(0, 0, 0, 0.3);
    /* padding-top: 4px; */
  }
  &:active {
    box-shadow: inset 0px 4px 0 0 rgba(0, 0, 0, 0.3);
    /* padding-top: 6px; */
    color: rgba(255, 255, 255, 0.5);
  }
  p {
    color: white;
    font-size: 12px;
    font-weight: 800;
    padding: 5px 20px;
  }
}
.createTask__chooseStatus {
  position: absolute;
  background: white;
  padding: 5px;
  left: -4px;
  top: -10px;
  z-index: 100;
  p {
    color: #333;
    border-radius: 4px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-bottom: 3px;
    box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.3);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.createTask__ass {
  margin-top: 30px;
  padding: 0 10px 0 0px;
  display: flex;
  align-items: center;
  .list__createTask-p {
    margin-right: 10px;
    color: white;
  }
  p {
    font-size: 12px;
    font-weight: 600;
  }
}
.createTask__avatar {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  .MuiAvatar-root {
    width: 30px;
    height: 30px;
  }
}
.createTask__add {
  .MuiSvgIcon-root {
    position: absolute;
    bottom: -2px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    color: white;
  }
}
.createTask__popUsers {
  position: absolute;
  padding: 5px;
  z-index: 150;
}
.createTask__popAvatar {
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background: #eee; //MISLIM DA NE ČITA SVAKI PUT POGLEDAJ OVO
  }
  p {
    margin-left: 10px;
  }
}
.createTask__addComment {
  margin-top: 20px;
  textarea {
    max-width: 100%;
    min-width: 30%;
    max-height: 200px;
    width: 100%;
    min-height: 100px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.createTask__buttonCreate {
  position: absolute;
  bottom: 20px;
  right: 20px;
  button {
  }
}
.createTask__close {
  cursor: pointer;
}
.createTask__options {
  padding: 10px;
  bottom: 40px;
  width: 180px;
  left: -3px;
  position: absolute;
  padding-top: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input {
    font-size: 12px;
  }
  .MuiSvgIcon-root {
    font-size: 0.9em;
  }
  .MuiInput-underline {
    &::before {
      border-bottom: 1px solid #eee;
    }
    &:hover {
      border: none;
    }
  }
}
.createTask__optionsMenu {
  position: absolute;
  bottom: 20px;
  display: flex;
  left: 20px;
  button {
    margin-right: 5px;
  }
}
.createTask__fabDate {
  position: absolute;
  bottom: -4px;
  left: -2px;
  z-index: 70;
  p {
    font-size: 10px;
    font-weight: 600;
    background: #ffd5ce;
    padding: 0px 3px;
    color: #9c1800;
  }
}
.createTask__priorityPop {
  padding: 5px;
  position: absolute;
  bottom: 38px;
  margin-left: -2px;
  .MuiSvgIcon-root {
    margin-left: -15px;
  }
}

.createTask__prioritys {
  padding: 3px 15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background: #eee;
  }
  p {
    color: black;
  }
}
