@import "./theme.scss";
.app {
  display: flex;
}
.app__workSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  height: 98vh;
  background: $secondary;
  padding-top: 20px;
  justify-content: space-between;
  /*   background-image: url("../img/45-degree-fabric-light.png");
  background-image: url(../img/binding-light.png);
  background-image: url(../img/45-degree-fabric-light.png); */
  /* background-image: url(../img/binding-light.png); */
  /* background-image: url(../img/az-subtle.png); */
  /*   background-image: url(../img/45-degree-fabric-dark.png); */
  /*   background-image: url(../img/shattered-dark.png); */
  /*   background-image: url(../img/swirl.png); */
  /*  background-image: url(../img/blu-stripes.png); */
}

.app__user {
  margin-bottom: 10px;
  .MuiAvatar-root {
    border-radius: 4px !important;
  }
}
.app__board {
  width: 200px;
  min-width: 200px;
  /* background: #6ca3b1; */
  background: #415761;
  padding: 20px;
  /*  background-image: url("../img/45-degree-fabric-light.png"); */
  /*   box-shadow: -12px 0 23px -18px; */
}
.app__openBoard {
  width: 100%;
  overflow-y: scroll;
  height: 100vh;

  /*   background-image: url("../img/bedge-grunge.png"); */
  /*   background-image: url("../img/blu-stripes.png"); */
  /* position: relative; */
}
.app__loading {
  position: fixed;
  /* background: rgba(0, 0, 0, 0.2); */
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.app__loadingBox {
  width: 30px;
  height: 30px;
  background: $primary;
  border: 2px solid black;
}
.app__settings {
  border-left: 1px solid #eee;
  /* box-shadow: 0 0 28px -21px black; */
}

.MuiButton-containedPrimary {
}
