@import "theme.scss";
.board {
  margin-top: 10px;
  .MuiSvgIcon-root {
    margin-right: 10px;
  }

  .MuiButtonBase-root {
    width: 100%;
    text-transform: none !important;
    color: $alphaBlack;
  }
  .MuiButton-label {
    justify-content: flex-start !important;
  }
  .MuiButton-root {
    width: 100%;
  }
  p {
    margin: 0;
  }
}
