.colorPicker {
  display: flex;
  width: 130px;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  input {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 3px;
    flex-flow: wrap;
    border: none;
    cursor: pointer;
    padding: 0;
    color: transparent;

    &:hover {
      transform: scale(1.2);
    }
  }
  p {
    color: #333 !important;
    margin-bottom: 4px;
  }
}

.colorPicker2 {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  input {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 5px;
    flex-flow: wrap;
    border: none;
    cursor: pointer;
    padding: 0;
    color: transparent;
    transition: 0.1s ease transform;
    &:focus {
      outline-width: 0;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  p {
    color: #333 !important;
    margin-bottom: 4px;
  }
}

.colorPicker3 {
  display: flex;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  input {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 5px;
    flex-flow: wrap;
    border: none;
    cursor: pointer;
    padding: 0;
    color: transparent;
    transition: 0.1s ease transform;
    &:focus {
      outline-width: 0;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  p {
    color: #333 !important;
    margin-bottom: 4px;
  }
}

.colorPicker__color1 {
  background: #f4275d;
}
.colorPicker__color2 {
  background: #40ca71;
}
.colorPicker__color3 {
  background: #a358d0;
}
.colorPicker__color4 {
  background: #2876c3;
}
.colorPicker__color5 {
  background: #1c1f3b;
}
.colorPicker__color6 {
  background: #fbcb00;
}
.colorPicker__color7 {
  background: #379afe;
}
.colorPicker__color8 {
  background: #f55f7b;
}
.colorPicker__color9 {
  background: #f5148a;
}
.colorPicker__color10 {
  background: #e1445c;
}
.colorPicker__color11 {
  background: #bb3353;
}
.colorPicker__color12 {
  background: #267e4c;
}
.colorPicker__color13 {
  background: #f65bc4;
}
.colorPicker__color14 {
  background: #2876c3;
}
.colorPicker__color15 {
  background: #f5642e;
}
