@import "./theme.scss";
.dashboard__header {
  display: flex;
  position: relative;
}
.dashboard__letter {
  margin-right: 7px;
  margin-left: 0;
}
.dashboard__newBoard {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  .MuiButtonBase-root {
    width: 100%;
    text-transform: none;
    color: $alphaBlack;
  }
  .MuiButton-label {
    justify-content: flex-start !important;
  }
  .MuiSvgIcon-root {
    margin-right: 10px;
  }
}
.dashboard__dashboards {
  margin-top: 20px;
}
.dashboard__menu {
  position: absolute;
  right: 0px;
  .MuiButton-root {
    min-width: 0;
  }
}
.dashboard__menuWindow {
  background: white;
  padding: 10px 10px;
  width: 150px;
  position: absolute;
  top: 40px;
  border-radius: 10px;
  background: rgb(245, 245, 245);
  z-index: 120;
  .MuiButtonBase-root {
    width: 100% !important;
  }
  button {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin-left: 10px;
  }
}
.dashboard__menuWindow--layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.dashboard__name {
  margin-left: 10px;
  input {
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    margin-left: -2px;
    border: none;
    background: transparent;
    outline: none;
    border: 1px solid black;
  }
  h3 {
    margin: 0;
    margin-top: 4px;
  }
}

.dashboard__active {
  border-radius: 10px;

  p {
    color: white;
    font-weight: 700;
  }
  .MuiButtonBase-root {
    color: white !important;
  }
}
.dashboard_icon__letter {
  width: 36px;
  height: 36px;
  margin-left: -10px;
  display: flex;
  text-transform: uppercase;
}
