@import "./theme.scss";
.dashboard__header {
  display: flex;
  align-items: center;
  position: relative;
}
.dashboard__letter {
  margin-right: 7px;
  margin-left: 0;
}
.dashboard__newBoard {
  margin-top: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  .MuiButtonBase-root {
    width: 100%;
    text-transform: none;
  }
  .MuiButton-label {
    justify-content: flex-start !important;
  }
  .MuiSvgIcon-root {
    margin-right: 10px;
  }
}
.dashboard__menu {
  position: absolute;
  right: 0px;
  .MuiButton-root {
    min-width: 0;
  }
}
.dashboard__menuWindow {
  background: white;
  padding: 10px 10px;
  width: 150px;
  position: absolute;
  top: 40px;
  border-radius: 10px;
  background: rgb(245, 245, 245);
  z-index: 120;
  .MuiButtonBase-root {
    width: 100% !important;
  }
  button {
    display: flex;
    justify-content: start;
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin-left: 10px;
  }
}
.dashboard__menuWindow--layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
