@import "theme.scss";
.fn__menu {
  position: absolute;
  right: -18px;
  .MuiButton-root {
    min-width: 0;
  }
}
.fn__menuWindow {
  background: white;
  padding: 5px;
  width: 180px;
  position: absolute;
  top: 40px;
  border-radius: 10px;
  border: 1px solid #eee;
  z-index: 120;
  box-shadow: 0 0 28px -15px black;
  .MuiButtonBase-root {
    width: 100% !important;
    color: $alphaBlack !important;
    border-radius: 5px;
  }

  button {
    display: flex;
    justify-content: start;
    margin-top: 5px;
    color: $alphaBlack;
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin-left: 10px;
  }
}
.fn__menuWindow--layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.fn__listProps {
  right: 0;
  top: 40px;
  button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.fn__menuWindows--arrow {
  position: absolute;
  right: 5px;
}
.fn__menuWindow--colorPop {
  background: white;
  left: 100%;
  margin-left: 5px;
  padding: 5px;
  width: 180px;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 0 28px -15px black;
  margin-top: -36px;
  p {
    text-align: center;
    margin: 5px 0;
    color: #555;
  }
}
.boxPop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.boxPop__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.boxPop__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  h2 {
    margin: 0 0 8px 0;
  }
}
.boxPop__box {
  background: white;
  width: 400px;
  padding: 20px 30px;
  border-radius: 10px;
}
.boxPop__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  button {
    &:first-child {
      margin-right: 10px;
    }
  }
}
