Ì§* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0 !important;
  margin: 0 !important;
  /*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-image: url("../img/45-degree-fabric-light.png");
}
input {
  font-family: "Roboto Mono", monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiSvgIcon-root {
  /* color: rgb(199, 199, 199); */
}
a {
  text-transform: none;
  text-decoration: none;
  color: black;
}
.MuiButtonBase-root {
  text-transform: none !important;
}
.MuiAvatar-root,
.MuiAvatar-circle {
  border-radius: 0 !important;
  /*   box-shadow: 2px 2px 0 0 black;
  border-radius: 1px solid black; */
}
p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
h1 {
  margin: 0;
  padding: 0;
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
  background: #eee;
}
/* Handle */
::-webkit-scrollbar-thumb {
}

.MuiPickersDay-daySelected {
  border-radius: 0;
}
.MuiPopover-paper {
  border: 2px solid black;
  border-radius: 0 !important;
}
.MuiPickersDay-daySelected {
  border-radius: 0 !important;
}
.MuiSwitch-thumb {
  border-radius: 0 !important;
}
.MuiSwitch-track {
  border-radius: 0 !important;
}
.MuiSwitch-colorPrimary.Mui-checked {
  color: #28677a !important;
}
.MuiSwitch-switchBase {
  color: #abc8cf !important;
}
