̧* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiSvgIcon-root {
  /* color: rgb(199, 199, 199); */
}
a {
  text-transform: none;
  text-decoration: none;
}
.MuiButtonBase-root {
  text-transform: none !important;
}
.MuiAvatar-root {
  border-radius: none;
}
p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
h1 {
  margin: 0;
  padding: 0;
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
  background: #eee;
}
/* Handle */
::-webkit-scrollbar-thumb {
}
