̧* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0 !important;
  margin: 0 !important;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Roboto", sans-serif;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
input {
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiSvgIcon-root {
  /* color: rgb(199, 199, 199); */
}
a {
  text-transform: none;
  text-decoration: none;
  color: black;
}
.MuiButtonBase-root {
  text-transform: none !important;
}
.MuiAvatar-root,
.MuiAvatar-circle {
  border-radius: 4px !important;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px !important;
}
p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
h1 {
  margin: 0;
  padding: 0;
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
  background: #eee;
}
/* Handle */
::-webkit-scrollbar-thumb {
}

.MuiSwitch-colorPrimary.Mui-checked {
  /*   color: #28677a !important; */
}
.MuiSwitch-switchBase {
  /*   color: #abc8cf !important; */
}
