@import "theme.scss";
.list {
  position: relative;
  padding: 30px;
  form {
    display: flex;
    align-items: center;
    input {
      background: none;
      border: none;
      padding: 10px 10px;
      height: 30px;
      width: 100%;
      &:focus {
        border-radius: 0px !important;
      }
    }
  }
}

.list ul li {
  list-style: none;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  border: 1px solid #eaeaea;
  /* overflow: hidden; */
}
.list ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
.list__newTask {
  margin-top: 5px !important;
  margin-bottom: 40px !important;
}
.list__topMenuFn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  div {
    margin-left: 10px;
  }
  .MuiSvgIcon-root {
    color: white !important;
  }
  .MuiButtonBase-root {
  }
}
.list__addFn {
}
.list__item {
  .list__itemDrag {
    opacity: 0;
    margin-top: 15px;
  }
  &:hover {
    .list__itemDrag {
      opacity: 1;
    }
  }
}
.list__module {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  margin-bottom: -5px;
}
.list__header {
  display: flex;
  justify-content: space-between;
}

.list__status {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: -25px;
}
.list__statusName {
  padding: 5px 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 0 0px black;
  min-width: 40px;
  p {
    font-size: 12px;
    color: white;
    font-weight: 600;
    text-align: center;
  }
}
.list__statusCounter {
  margin-left: 10px;
  p {
    color: #333;
    font-size: 12px;
  }
}
.list__statusArrow {
  cursor: pointer;
  height: 25px;
  .MuiSvgIcon-root {
  }
}
.list__child {
  margin-bottom: 10px;
}
.list__createTask {
  position: fixed;
  bottom: 10px;
  right: 30px;
  .MuiFab-root {
    padding: 0px 10px;
    width: auto;
    border-radius: 10px;
    height: 30px;
  }
}
