@import "theme.scss";
.retroPop {
  .layer {
    background: rgba(0, 0, 0, 0.5);
  }
}
.listSettings__box {
  position: relative;
}
.listSettings__menu {
  width: 600px;
  min-height: 100px;
  z-index: 150;
  .MuiPaper-root {
    padding: 15px 30px;
    border-radius: 10px;
  }
}
.listSettings__menu-title {
  h2 {
    margin-top: 0px;
    margin-bottom: 25px;
  }
}
.listSettings__editStatusTitle {
  margin-bottom: 10px;
  h4 {
    margin-bottom: 5px;
  }
}
.listSettings__editStatus {
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: 2px 2px 0 0 black;
}
.listSettings__statusWrap {
  position: relative;
  .MuiSvgIcon-root {
    color: gray;
  }
}
.listSettings__addNewTask {
}
.listSettings__task {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 5px;

  &:last-child {
    margin-bottom: 0px;
  }
  &:hover {
    background: #f5f5f5;
    .listSettings__deleteStatus {
      opacity: 1;
    }
  }
}
.listSettings__settingNew {
  display: flex;
  form {
    display: flex;
    align-items: center;
  }
  button {
    margin-top: 0 !important;
    margin-left: 5px;
  }
}
.listSettings__newTask-brutalClose {
  margin-top: 3px;
  margin-left: 10px;
}
.listSettings__statusPick {
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 17px;
  .layer {
    background: none;
  }
  p {
    width: 100%;
    color: white;
    font-weight: 600;
    text-align: center;
  }
}
.listSettings__taskName {
  margin-right: 7px;
  p {
    font-size: 12px;
  }
}
.listSettings__deleteStatus {
  position: absolute;
  display: flex;
  cursor: pointer;
  right: 10px;
  opacity: 0;
  .MuiSvgIcon-root {
    border-radius: 4px;
  }
  p {
    padding: 3px 10px;
    color: #666;
    font-size: 12px;
    font-weight: 500;
    &:nth-of-type(2) {
      color: tomato;
      border: 1px solid tomato;
      border-radius: 4px;
      &:hover {
        background: tomato;
        color: white;
      }
    }
  }
}
.listSetting__holdButtons {
  width: 150px;
  overflow: hidden;
}
.listSettings__buttons {
  display: flex;
}

.listSetting__colorPickerPosition {
  position: absolute;
  top: 30px;
  z-index: 160;
}
.listSettings__delete {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.listSettings__sureDelete {
  display: flex;
  button {
    margin-left: 5px;
  }
}
