@import "theme.scss";
.listSettings {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .layer {
    background-color: rgba(0, 0, 0, 0.4);
  }
  h4 {
    margin: 8px 0;
  }
}
.listSettings__menu {
  width: 600px;
  min-height: 100px;
  z-index: 150;
  .MuiPaper-root {
    padding: 15px 30px;
    border-radius: 10px;
  }
}
.listSettings__menu-title {
  h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  border-bottom: 1px solid #eee;
}
.listSettings__editStatusTitle {
  margin-top: 30px;
  margin-bottom: 10px;
  h4 {
    margin-bottom: 5px;
  }
  p {
    font-size: 12px;
    color: white;
    padding: 3px 5px;
    background: $color1;
    border-radius: 5px;
    font-weight: 500;
  }
}
.listSettings__editStatus {
  border-radius: 10px;
}
.listSettings__statusWrap {
  position: relative;
  .MuiSvgIcon-root {
    color: gray;
  }
}
.listSettings__addNewTask {
  button {
    font-size: 12px;
  }
}
.listSettings__task {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px 5px;

  &:last-child {
    margin-bottom: 0px;
  }
  &:hover {
    background: #f5f5f5;
    .listSettings__deleteStatus {
      opacity: 1;
    }
  }
}
.listSettings__settingNew {
  display: flex;
  input {
    margin-top: -5px;
    font-size: 12px;
  }
}
.listSettings__statusPick {
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;

  .layer {
    background: none;
  }
  p {
    width: 100%;
    color: white;
    font-weight: 600;
    text-align: center;
  }
}
.listSettings__taskName {
  margin-right: 7px;
  p {
    font-size: 12px;
  }
}
.listSettings__deleteStatus {
  position: absolute;
  display: flex;
  cursor: pointer;
  right: 10px;
  opacity: 0;
  .MuiSvgIcon-root {
  }
  p {
    padding: 3px 10px;
    color: #666;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    &:nth-of-type(2) {
      color: tomato;
      border: 1px solid tomato;
      &:hover {
        background: tomato;
        color: white;
      }
    }
  }
}
.listSetting__holdButtons {
  width: 150px;
  overflow: hidden;
}
.listSettings__buttons {
  display: flex;
}

.listSetting__colorPickerPosition {
  position: absolute;
  top: 30px;
  z-index: 160;
}
