@import "theme.scss";
.listItem {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 5px;
  a {
    flex-grow: 1;
  }
}
.listItem__taskName {
  display: flex;
  height: 100%;
  align-items: center;
  min-width: 200px;
  flex-grow: 1;
}
.listItem__fn {
  display: flex;
  align-items: center;
  &:first-child {
    /*  box-shadow: 0 0 17px -4px black !important; */
  }
}
.listItem__comp {
  min-width: 100px;
  max-width: 100px;
  height: 40px;
  margin-left: 5px;
  p {
    font-size: 12px;
    color: white;
    font-weight: 700;
  }
}
.boxShadow {
  border: 1px solid black;
  box-shadow: 2px 2px 0 0px black;
}
.listItem__createdAt {
  background: #6d8daf;
  color: white;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  /* box-shadow: 0 0 17px -4px black !important; */
}
.listItem__createdBy {
  display: flex;
  align-items: center;
  justify-content: center;
  .MuiAvatar-root {
    width: 40px;
    height: 40px;
    border-radius: 4px !important;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
      rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    /*   box-shadow: 2px 2px 0 0 black; */
  }
}
.listItem__deadLine {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #547598;
  min-width: 100px;
  color: white;
  position: relative;
  overflow: hidden;
  .listItem__showDeadDate {
    margin-left: -10px;
  }
  .MuiInputBase-input {
    width: 0;
    border: none;
  }
  .MuiIconButton-root {
    width: 106px;
    height: 100px;
    border-radius: 0;
    margin-top: 20px;
  }
  .MuiInput-underline {
    &:before {
      border: none;
      content: none;
    }
    &:after {
      border: none;
    }
    &:hover {
      border: none;
    }
  }
  .MuiFormControl-marginNormal {
    margin: 0;
  }
}
.listItem__deadPicker {
  .MuiGrid-root {
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
  }
}
.listItem__daysLeft {
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  right: 0;
  position: absolute;
  height: 50px;
  border-radius: 0 10px 10px 0;
  p {
    font-size: 11px;
  }
}
.listItem__fnHolder {
  display: flex;
}

.listItem__assign {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.listItem__assignAvatar {
  cursor: pointer;
  .MuiAvatar-root {
    width: 40px;
    height: 40px;
    border-radius: 4px !important;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
      rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    /*     box-shadow: 2px 2px 0 0 black; */
  }
}
.listItem__chooseUser {
  position: absolute;
  border: 2px solid black;
  bottom: 36px;
  background: white;
  padding: 3px;
  z-index: 100;
  p {
    color: black;
    margin-left: 10px;
  }
}
.listItem__chooseUserInside {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  &:last-child {
    margin-bottom: 0px;
  }
  &:hover {
    background: #eee;
  }
  .MuiAvatar-root {
    width: 30px;
    height: 30px;
  }
}
.listItem__status {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  p {
    font-weight: 700;
  }
}
.listItem__statusMenu {
  position: absolute;
  bottom: 40px;
  padding: 2px;
  background: white;
  z-index: 100;
}
.listItem__statusItem {
  width: 100px;
  height: 40px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  &:last-child {
    margin-bottom: 0;
  }
}
.listItem__priority {
  position: relative;
  cursor: pointer;
}

.listItem__priorityBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .MuiSvgIcon-root {
    margin-left: -10px;
    color: white;
    font-size: 15px;
  }
}
.listItem__priorityMenu {
  width: 100px;
  background: white;
  min-height: 20px;
  position: absolute;
  left: -2px;
  bottom: 41px;
  z-index: 100;
  padding: 2px;
}
.listItem__choosePriority {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 2px;
  .MuiSvgIcon-root {
    color: white;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
