.moduleTypes {
  display: flex;
  margin-left: 5px;
  margin-top: 6px;
}
.moduleTypes__item {
  min-width: 100px;
  max-width: 100px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  p {
    color: #666;
  }
}
.lmn__deadLine {
  order: 1;
}
.lmn__createdDate {
  order: 2;
}
.lmn__createdBy {
  order: 3;
}
