.moduleTypes {
  display: flex;
  margin-left: 3px;
  border: 1px solid transparent;
}
.moduleTypes__item {
  min-width: 100px;
  max-width: 100px;
  display: flex;
  justify-content: center;
}
.lmn__deadLine {
  order: 1;
}
.lmn__createdDate {
  order: 2;
}
.lmn__createdBy {
  order: 3;
}
