@import "./theme.scss";
.openWs__img {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #eee;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.openWs__header {
  padding: 0 80px;
  margin-top: -30px;
  display: flex;
  align-items: center;
}
.openWs__name {
  margin-left: 15px;
  margin-top: 30px;
  h1 {
  }
  p {
  }
}
.openWs__menu .MuiTab-root {
  background: white;
}
.openWs__menu {
  padding: 0 80px;
  .MuiAppBar-positionFixed {
    position: relative;
  }
  .MuiButtonBase-root {
    border: 1px solid black;
    box-shadow: 3px 3px 0 1px black;
    margin-right: 10px;
    font-family: "Press Start 2P", cursive;
    font-size: 8px;
  }
  .PrivateTabIndicator-colorPrimary-2 {
  }
  .MuiTab-textColorPrimary.Mui-selected {
    color: white;
    background: #35a69a;
  }
  .MuiPaper-root {
    /*   border-bottom: 1px solid #eee; */
    background: none;
  }

  .PrivateTabIndicator-root-1 {
    display: none;
  }
  .MuiTabs-root {
    overflow: auto;
    height: 32px;
    margin-top: 20px;
  }
  .MuiTabs-scroller,
  .MuiTabs-fixed {
    overflow: auto;
  }
  .MuiTab-root {
    min-height: 0;
  }
}

.openWs__content {
  padding: 10px 0px;
}

.openWs__user {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  background: #f5f5f5;
  &:hover {
  }
  p {
    font-weight: 700;
  }
}
.openWs__alfa {
  position: absolute;
  right: 10px;
  background: red;
  padding: 3px 6px;
  p {
    font-size: 10px;
    font-weight: 700;
    color: white;
  }
}

.openWs__avatar {
  margin-right: 10px;
}
.openWs__addNewUser {
  margin-top: 20px;
  button {
    background: #eee;
    svg {
      color: #777;
      margin-right: 5px;
    }
    p {
      color: #777;
    }
  }
}
.openWs__userPopHold {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.openWs__addUserPop {
  padding: 20px 30px;
  text-align: center;
  width: 300px;
  min-height: 100px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: white;
  z-index: 150;
  form {
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
    }
  }
}
.openWs__userPopLayer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}
.openWs__addMemberError {
  margin: 20px 0;
  p {
    color: tomato;
    font-weight: 500;
    text-align: left;
  }
}
.openWs__baordHolder {
  display: flex;
}
.openWs__boards {
  width: 300px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  .MuiButton-text {
    padding: 0 10px;
  }
  a {
    width: 100%;
  }
  .MuiButtonBase-root {
    width: 100%;
    background: #f3f3f3;
    border-radius: 0;
  }
  .MuiButton-label {
    justify-content: start;
  }
  .MuiSvgIcon-root {
    margin-top: 7px;
    color: #666;
  }
  .icon {
    margin-right: 10px;
  }
  .name {
    h3 {
      color: #333;
    }
  }
}
