@import "./theme.scss";
.openWs__img {
  width: 100%;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.openWs__menu {
  .MuiAppBar-positionFixed {
    position: relative;
  }
  .PrivateTabIndicator-colorPrimary-2 {
    background: $color1;
  }
  .MuiTab-textColorPrimary.Mui-selected {
    color: $color1;
  }
  .MuiPaper-root {
    border-bottom: 1px solid #eee;
  }
}

.openWs__content {
  padding: 10px 30px;
}

.openWs__user {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  background: #f5f5f5;
  &:hover {
    background: #eee;
  }
  p {
    font-weight: 700;
  }
}
.openWs__alfa {
  position: absolute;
  right: 10px;
  background: $color2;
  padding: 3px 6px;
  border-radius: 5px;
  p {
    font-size: 10px;
    font-weight: 700;
    color: white;
  }
}

.openWs__avatar {
  margin-right: 10px;
}
.openWs__addNewUser {
  margin-top: 20px;
  button {
    background: #eee;
    svg {
      color: #777;
      margin-right: 5px;
    }
    p {
      color: #777;
    }
  }
}
.openWs__userPopHold {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.openWs__addUserPop {
  padding: 20px 30px;
  text-align: center;
  width: 300px;
  min-height: 100px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: white;
  z-index: 150;
  form {
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
    }
  }
}
.openWs__userPopLayer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}
.openWs__addMemberError {
  margin: 20px 0;
  p {
    color: tomato;
    font-weight: 500;
    text-align: left;
  }
}
.openWs__boards {
  width: 300px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  .MuiButton-text {
    padding: 0 10px;
  }
  a {
    width: 100%;
  }
  .MuiButtonBase-root {
    width: 100%;
    background: #f3f3f3;
    border-radius: 10px;
  }
  .MuiButton-label {
    justify-content: start;
  }
  .MuiSvgIcon-root {
    margin-top: 7px;
    color: #666;
  }
  .icon {
    margin-right: 10px;
  }
  .name {
    h3 {
      color: #333;
    }
  }
}
