/* $color1: #2a435e;
$color2: #c74c4d;
$color3: #8f9c99;
$boxShadow: 0px 0px 54px -47px black; */

/* $color2: #266557;
$color1: #004233;
$color3: #8f9c99;
$boxShadow: 0px 0px 54px -47px black; */

/* $color1: #43607f;
$color2: #41909e;
$color3: #8f9c99;
$boxShadow: 0px 0px 54px -47px black; */

$color1: #27768e;
$color2: #57c1c9;
$color3: #8f9c99;
$boxShadow: 0px 0px 54px -47px black;
$alpha50: rgba(255, 255, 255, 0.5);
$alphaBlack: rgba(0, 0, 0, 0.6);

.boxShadow {
}
