@import "theme.scss";
.workSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workSpace__addNew {
}
.workSpace__line {
  width: 10px;
  height: 10px;
  background: #6ca3b1;
  margin-bottom: 10px;
}
