@import "theme.scss";
.ws_icon {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  z-index: 200;
}
.ws_icon__letter {
  width: 36px;
  height: 36px;
  margin-left: -10px;
  margin-bottom: 10px;
  display: flex;
  text-transform: uppercase;
}
.ws_icon__star {
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 100;
  background: #ffb961;
  transform: rotate(45deg);

  width: 8px;
  height: 8px;
}
.onlyLatter {
  p:hover:before {
    opacity: 1;
  }
  p:before {
    content: attr(aria-label);
    opacity: 0;
    position: absolute;
    margin-left: 30px;
    padding: 9.2px;
    border-radius: 10px;
    top: 0px;
    box-sizing: content-box;
    color: #fff;
    background: #555;
    pointer-events: none;
    width: max-content;
    font-size: 10px;
    z-index: 200;
  }
}
