@import "../../styles/theme.scss";

//BRUTAL BTN
.brutalBtn {
  position: relative;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  color: white;
  cursor: pointer;
  min-width: 30px;
  text-transform: uppercase;
  left: -2px;
  top: 0px;
  p {
    font-size: 8px;
  }
}
.brutalBtn__inner {
  background: #35a69a;
  /*   border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5); */
  border: 1px solid black;
  height: 100%;
  z-index: 60;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease all;
  top: 0;
  left: 0;

  &:hover {
    top: -2px;
    left: -2px;
  }
  &:active {
    top: 2px;
    left: 2px;
  }
}

.brutalBtn__icon {
  .MuiSvgIcon-root {
    width: 20px;
  }
}
.brutalBtn__shadow {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 4px;
  z-index: 50;
  .small {
  }
}
.ws_icon_btn {
  margin-bottom: 10px;
}
.createBoard__box {
}
//DEFAULT

.brutalBox {
  border: 1px solid black;
  box-shadow: 2px 2px 0 0 black;
  background: white;
}

//BRUTAL INPUT
.brutalInput {
  margin: 3px 0 15px 0;
  margin-left: -2px;
  border: 1px solid black;
  background: #ffffff;
  color: black;
  font-family: "Press Start 2P", cursive;
  padding: 14px 13px;
  font-size: 8px;
  outline: none;
  box-shadow: 2px 2px 0 0px black;
  width: 100%;
  box-sizing: border-box;
}
.brutalInput-small {
  padding: 7px 13px;
  margin: 0;
}

//BRUTAL POPUP MENU

.brutalPop {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
  }
}
.brutalPop__layer {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
.brutalPop__box {
  width: 400px;
  background: white;
  padding: 20px 30px;
  box-shadow: $boxShadow;
  border: 3px solid black;
  z-index: 150;
  .MuiFormControl-root {
    width: 100%;
    margin: 20px 0;
  }
}
.createBoard__info {
  margin-top: 5px;
}
